/*

!/artifacts/general.toml
!/artifacts/items.toml
!/irons_spellbooks/
!/ftbquests/
!/jade/jade.json
!/jade/plugins.json
!/l2configs/

!/.gitignore

!/cataclysm-common.toml
!/create-server.toml
!/createdieselgenerators-server.toml
!/constructionstick-server.toml
!/curios-common.toml
!/entityculling.json
!/fml.toml
!/ftblibrary-client.snbt
!/immediatelyfast.json
!/immersive_aircraft.json
!/irons_spellbooks-server.toml
!/kaleidoscope_cookery_satiated_shield_tuner-server.toml
!/quark-common.toml
!/sodium-options.json
!/tectonic.json
!/touhou_little_maid-common.toml
!/tweakeroo.json
!/waystones-common.toml
!/xaero*.txt